.hotel {
  margin: auto;
  max-width: 900px;
}

.hotel-datepickers {
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  gap: 5px;
}
