.reservations {
  margin: auto;
  width: 900px;
}
.reservations h1 {
  text-align: left;
  font-size: 25px;
}

.reservations-container {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

.reservation-card {
  width: 450px;
  display: flex;
}
img {
  width: 200px;
  height: 200px;
}

.reservation-data {
  padding-left: 10px;
}

.reservation-hotel {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 18px;
}

.reservation-date-title {
  font-weight: 600;
  font-size: 14px;
}

.reservation-dates {
  font-size: 14px;
}

.reservation-travelers-title {
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
}

.reservation-travelers {
  font-size: 14px;
}

.reservation-buttons {
  padding-top: 40px;
}
