.room-show {
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-top: 5px;
  width: 305px;
  height: 400px;
  align-self: flex-start;
  box-shadow: 0 0 4px #c8c8c8;
  position: relative;
  color: black;
  background-color: white;
  overflow: hidden;
}

.room-show-img {
  position: relative;
  height: 250px;
  width: 305px;
}

.room-data {
  margin-left: 5px;
  margin-right: 5px;
}

.room-type {
  font-size: 18px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  color: black;
}

.icon {
  font-size: 14px;
  color: #868e96;
  margin-left: 5px;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  font-size: 20px;
}

.total {
  font-size: 13px;
  color: #868e96;
}

.button-container {
  align-self: center;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #1971c2;
  border-radius: 30px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1864ab;
}
