.hotels {
  display: flex;
  margin: auto;
  max-width: 1024px;
}

.hotels-filter {
  width: 220px;
  margin: 10px;
}

.hotels-filter-heading {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 17px;
}
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  gap: 5px;
}

.navbar {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  height: 2rem;
  width: 1024px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.hotel {
  margin: auto;
  max-width: 1024px;
}

.hotel-show {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 260px;
  align-self: flex-start;
  box-shadow: 0 0 4px #c8c8c8;
  position: relative;
  cursor: pointer;
  color: black;
}

.hotel-show h2 {
  font-size: 20px;
}

.hotel-show h2:hover {
  text-decoration: underline;
}

img {
  margin-top: 5px;
  height: 250px;
  width: 260px;
}

/* .hotel-list > div {
  margin-right: 50px;
} */

.icons-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}

.icons {
  display: flex;
  color: black;
}

.icon {
  font-size: 14px;
  color: #868e96;
  margin-left: 5px;
}

.heading {
  color: black;
}
.header {
  font-size: 40px;
}

.subheader {
  font-size: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
}

.datepickers {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.label {
  color: black;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #1971c2;
  border-radius: 30px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1864ab;
}
.room-list {
  display: flex;
  flex-wrap: wrap;
}

.room-show {
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 280px;
  align-self: flex-start;
  box-shadow: 0 0 4px #c8c8c8;
  position: relative;
  color: black;
}

.room-show h2 {
  font-size: 16px;
}

.room-show img {
  margin-top: 5px;
  height: 250px;
  width: 280px;
}

.room-type {
  font-size: 18px;
  margin-bottom: 10px;
}

.price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  font-size: 20px;
}

.total {
  font-size: 13px;
  color: #868e96;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  align-self: center;
}

.link {
  text-decoration: none;
}

.reservation {
  margin: auto;
  max-width: 1024px;
}

.reservations {
  margin: auto;
  max-width: 1024px;
}

.reservations h1 {
  text-align: left;
  font-size: 25px;
}

table {
  display: grid;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr) minmax(150px, 1.67fr)
    minmax(150px, 3.33fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: black;
  font-weight: 800;
}

.btn-notclicked {
  margin-top: 3px;
  margin-right: 5px;
  background-color: #e9ecef;
}

.btn-clicked {
  margin-top: 3px;
  margin-right: 5px;
  background-color: #adb5bd;
}
