@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  font-family: 'Inter';
  background-color: #f8f9fa;
}

.hotels {
  margin: auto;
  max-width: 900px;
}
.hotels-datepickers {
  margin-left: 215px;
  display: flex;
  border-radius: 25px;
}
.hotels-filter {
  width: 260px;
  margin: 10px;
}

.hotels-filter-heading {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 17px;
}
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  gap: 5px;
}

.navbar {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  height: 2rem;
  width: 900px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.hotel {
  margin: auto;
  max-width: 900px;
}

.hotel-show {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  height: 220px;
  width: 670px;
  align-self: flex-start;
  box-shadow: 0 0 4px #c8c8c8;
  position: relative;
  cursor: pointer;
  color: black;
  background-color: white;
  gap: 10px;
  overflow: hidden;
}

.hotel-show h2 {
  font-size: 25px;
}

.hotel-show h5 {
  font-size: 15px;
}

.hotel-show-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.hotel-show-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-show-footer-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.hotel-show-footer-rating-number {
  border: 1px solid gray;
  border-radius: 5px;
  width: 25px;
  background-color: #e9ecef;
}

.hotel-show-footer-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
}

.hotel-show-footer-price-room {
  font-size: 25px;
}

.hotel-show-footer-price-total {
  margin-top: 3px;
  font-size: 13px;
}
.hotel-show-img {
  height: 220px;
  width: 250px;
}

/* .hotel-list > div {
  margin-right: 50px;
} */

.icons-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}

.icons {
  display: flex;
  color: black;
}

.icon {
  font-size: 14px;
  color: #868e96;
  margin-left: 5px;
}

.hotel-datepickers {
  border-radius: 5px;
}

.heading {
  color: black;
  background-color: white;
  border-radius: 5px;
}
.header {
  font-size: 40px;
}

.subheader {
  font-size: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
}

.datepickers {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.label {
  color: black;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #1971c2;
  border-radius: 30px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1864ab;
}

.btn-done {
  font-size: 16px;
  color: white;
  background-color: #1971c2;
  border-radius: 30px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
  width: 70px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.room-show {
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 5px;
  /* padding: 5px; */
  width: 305px;
  height: 400px;
  align-self: flex-start;
  box-shadow: 0 0 4px #c8c8c8;
  position: relative;
  color: black;
  background-color: white;
  overflow: hidden;
}

.room-show h2 {
  font-size: 16px;
}

.room-show-img {
  position: relative;
  height: 250px;
  width: 305px;
}

.room-type {
  font-size: 18px;
  margin-bottom: 10px;
}

.price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  font-size: 20px;
}

.total {
  font-size: 13px;
  color: #868e96;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  align-self: center;
}

.link {
  text-decoration: none;
}

.reservation {
  margin: auto;
  max-width: 900px;
}

.reservations {
  margin: auto;
  max-width: 900px;
}

.reservations h1 {
  text-align: left;
  font-size: 25px;
}

table {
  display: grid;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr) minmax(150px, 1.67fr)
    minmax(150px, 3.33fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: black;
  font-weight: 800;
}

.btn-notclicked {
  width: 55px;
  height: 30px;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #e9ecef;
  padding: none;
}

.btn-notclicked:hover {
  background-color: #adb5bd;
  cursor: pointer;
}

.btn-clicked {
  width: 55px;
  height: 30px;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #adb5bd;
}

.btn-clicked:hover {
  cursor: pointer;
}

.travelers-box {
  font-size: 14px;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  width: 236px;
  height: 26.5px;
  align-items: center;
  gap: 10px;
}
.tooltip-container {
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 5px;
  width: 200px;
  height: 130px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 9px #c8c8c8;
}

.react-datepicker {
  font-size: 13px;
}

.mydatepicker {
  border-radius: 5px;
  border: 2px solid black;
  width: 170px;
}

.hotel-datepickers {
  display: flex;
  background-color: white;
}

.multi-range-slider .caption {
  position: absolute;
  bottom: 33px;
  width: 2px;
  height: 2px;
  left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  display: none;
}
.multi-range-slider .thumb .caption * {
  position: absolute;
  min-width: 30px;
  height: 30px;
  font-size: 75%;
  text-align: center;
  line-height: 30px;
  background-color: #868e96;
  border-radius: 15px;
  color: black;
  box-shadow: 0px 0px 5px black;
  padding: 0px 5px;
  white-space: nowrap;
}

.radio-buttons-filter {
  margin-top: 30px;
}
.label {
  font-size: 15px;
}
